[submodule "nvim/.local/share/nvim/site/pack/legacy/start/alchemist.vim"]
	path = nvim/.local/share/nvim/site/pack/legacy/start/alchemist.vim
	url = https://github.com/slashmili/alchemist.vim
[submodule "nvim/.local/share/nvim/site/pack/legacy/start/vim-airline"]
	path = nvim/.local/share/nvim/site/pack/legacy/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nvim/.local/share/nvim/site/pack/legacy/start/vim-airline-themes"]
	path = nvim/.local/share/nvim/site/pack/legacy/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "nvim/.local/share/nvim/site/pack/legacy/start/vim-elixir"]
	path = nvim/.local/share/nvim/site/pack/legacy/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir
[submodule "iterm2/.iterm2/themes/iterm2-snazzy"]
	path = iterm2/.iterm2/themes/iterm2-snazzy
	url = https://github.com/sindresorhus/iterm2-snazzy.git
[submodule "nvim/.local/share/nvim/site/pack/legacy/start/vim-javascript"]
	path = nvim/.local/share/nvim/site/pack/legacy/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "nvim/.local/share/nvim/site/pack/legacy/start/vim-jsx"]
	path = nvim/.local/share/nvim/site/pack/legacy/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "nvim/.local/share/nvim/site/pack/legacy/start/vim-prettier"]
	path = nvim/.local/share/nvim/site/pack/legacy/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "nvim/.local/share/nvim/site/pack/legacy/start/vim-fugitive"]
	path = nvim/.local/share/nvim/site/pack/legacy/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/.local/share/nvim/site/pack/legacy/start/ale"]
	path = nvim/.local/share/nvim/site/pack/legacy/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "tmux/.config/tmux/plugins/tmux-resurrect"]
	path = tmux/.config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
