[submodule "vim/.vim/bundle/alchemist.vim"]
	path = vim/.vim/bundle/alchemist.vim
	url = https://github.com/slashmili/alchemist.vim
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/.vim/bundle/vim-elixir"]
	path = vim/.vim/bundle/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir
[submodule "iterm2/.iterm2/themes/iterm2-snazzy"]
	path = iterm2/.iterm2/themes/iterm2-snazzy
	url = https://github.com/sindresorhus/iterm2-snazzy.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/vim-jsx"]
	path = vim/.vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/.vim/bundle/vim-prettier"]
	path = vim/.vim/bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
